.component {
    display: flex;
    justify-content: flex-start;
    padding-right: 6.5em;
    padding-bottom: 2em;
}

.section {
    display: flex;
    align-items: center;
}

.page_select {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.page_title {
    margin-right: 1em;
}